{% extends login %}

{% block title %}<title>HOME</title>{% endblock %}

{% block css %}
    {% webpack_entry_css 'layout/datatables' %}
    {% webpack_entry_css 'layout/layout' %}
{% endblock %}

{% block js %}
    {% webpack_entry_js 'layout/datatables' %}
{% endblock %}

{% block content %}
{# start warpper #}

  <section id="warpper">
  
  {# start content slide #}
    <div class="home-slider d-block">
        <div id="carouselLight" class="carousel carousel-fade carousel-light slide  border-0" data-bs-ride="carousel" data-autoplay="5000" style="right:auto;" >
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselLight" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselLight" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselLight" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            
            <div class="carousel-item active" data-bs-interval="5000" style="background-image:url(images/SuiteRoom/Suite2.jpg)">
              <div class="container">
                <h2>Welcome to GG hotel</h2>
                <p>New hotel in Sakonnakorn</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image:url(images/DeluxeRoom/Deluxe1.jpg)">
              <div class="container">
                  <h2>Can you book Now!</h2>
                  <p>GG HOTEL Happy to serve you!</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000" style="background-image:url(images/StandardRoom/Stan1.jpg)">
            <div class="container">
                  <h2>Contact us at LINE</h2>
                  <p>LINE ID @GG_HOTEL</p>
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselLight" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselLight" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </div>
  {# end content slide #}
  {# start pview #}
    <div class="d-block">
      <div class="bg-white" style="height:50px;" ></div>
      <div class="container mx-auto text-center">
        <h1>NEW MODERN CITY HOTEL</h1>
        <h1>IN THE HEART OF</h1>
        <h1>SAKONNAKORN, THAILAND</h1>
      </div>
      <div class="bg-white" style="height:10px;" ></div>
      <div class="container mx-auto text-center fw-lighter" style="font-size:14px;">Our accommodations are excellent for a trip with friends, family or as a couple</div>
      <div class="bg-white" style="height:25px;" ></div>
      <div class="container mx-auto text-center animate__animated animate__fadeInUp" style="font-size:18px;">
        <p>Renowned for consistent quality and prime locations in the Sakonnakorn Metropolitan surrounded by popular provincial top destinations, </p>
        <p>GG_HOTEL has to offer. With standardized facilities across with high level of cleanliness, professional service from friendly staff, free high-</p>
        <p>speed internet, Digital TV, amenities, air conditioning, comfortable bed and great shower to ensure a peaceful and relax stay while in Sakonnakorn.</p>
      </div>
      <div class="bg-white" style="height:50px;" ></div>
    </div>
  {# end pview #}
  <hr class="featurette-divider container mx-auto">
  <div class="bg-white" style="height:50px;" ></div>
  {# content booking card#}
    <div class="home-booking-card container d-flex">

      <div class="row text-center text-white container">

        <div class="item-content col ">

          <a href="standart_room"><img src="images/home-card-1-1.jpg"></a>

          <div class="bg-white" style="height:10px;" ></div>
          <a title="STANDART ROOM" href="standart_room">STANDART ROOM</a>
          <div class="bg-white" style="height:10px;" ></div>
          <div class="item-text-content row text-center">
            <div class="col text-item-start">
              <h2>20</h2><p>SIZE<br/>M2</p>
            </div>
            <div class="col text-item-center">
              <h2>20</h2><p>MAX<br/>ADULT</p>
            </div>
            <div class="col text-item-end">
              <h2>20</h2><p>MAX<br/>CHILDEND</p>
            </div>
          </div>
          <div class="bg-white" style="height:10px;" ></div>
          <a class="link-room">BOOK NOW FORM ฿1100</a>
        </div>

        <div class="item-content col">

          <a href="superior_room"><img src="images/home-card-1-2.jpg"></a>

          <div class="bg-white" style="height:10px;" ></div>
          <a title="SUPERIOR ROOM" href="superior_room">SUPERIOR ROOM</a>
          <div class="bg-white" style="height:10px;" ></div>
          <div class="item-text-content row text-center">
            <div class="col text-item-start">
              <h2>20</h2><p>SIZE<br/>M2</p>
            </div>
            <div class="col text-item-center">
              <h2>20</h2><p>MAX<br/>ADULT</p>
            </div>
            <div class="col text-item-end">
              <h2>20</h2><p>MAX<br/>CHILDEND</p>
            </div>
          </div>
          <div class="bg-white" style="height:10px;" ></div>
          <a class="link-room">BOOK NOW FORM ฿1100</a>
        </div>

        <div class="item-content col">

          <a href="delux_room"><img src="images/DeluxeRoom/Deluxe1.jpg"></a>

          <div class="bg-white" style="height:10px;" ></div>
          <a title="DELUX ROOM" href="delux_room">DELUX ROOM</a>
          <div class="bg-white" style="height:10px;" ></div>
          <div class="item-text-content row text-center">
            <div class="col text-item-start">
              <h2>20</h2><p>SIZE<br/>M2</p>
            </div>
            <div class="col text-item-center">
              <h2>20</h2><p>MAX<br/>ADULT</p>
            </div>
            <div class="col text-item-end">
              <h2>20</h2><p>MAX<br/>CHILDEND</p>
            </div>
          </div>
          <div class="bg-white" style="height:10px;" ></div>
          <a class="link-room">BOOK NOW FORM ฿1100</a>
        </div>

        <div class="item-content col">

          <a href="suite_room"><img src="images/SuiteRoom/Suite1.jpg"></a>

          <div class="bg-white" style="height:10px;" ></div>

          <a title="SUITE ROOM" href="suite_room">SUITE ROOM</a>

          <div class="bg-white" style="height:10px;" ></div>
          <div class="item-text-content row text-center">
            <div class="col text-item-start">
              <h2>20</h2><p>SIZE<br/>M2</p>
            </div>
            <div class="col text-item-center">
              <h2>20</h2><p>MAX<br/>ADULT</p>
            </div>
            <div class="col text-item-end">
              <h2>20</h2><p>MAX<br/>CHILDEND</p>
            </div>
          </div>
          <div class="bg-white" style="height:10px;" ></div>
          <a class="link-room">BOOK NOW FORM ฿1100</a>
        </div>

        <div class="bg-white" style="height:10px;" ></div>

      </div>
    </div>
  {# end booking#}
  <div class="bg-white" style="height:50px;" ></div>
  {# start pview hotel #}
    <div class="tourist-attractions mx-auto">
      <div class="item-content text-center">
        <p class="text-content text-white pt-5"> Nearby Places </p>
        <h1 class="text-content">GG_HOTEL <br/>is just 10-minute walk to Sky Train Station</h1>
        <p class="text-content text-white-50 pb-4"> Chaopraya River, 20 minutes to Khaosan Road, Grand Palace and historical building<br/> and only 10 minutes by car access to major highway. Besides offering a friendly Amarin<br/>Hotel Rama 8 has a business center with fax/photocopying service. Staff at the 24-hour<br/>front desk can assist guests with free luggage service and shuttles arrangement.</p>
      </div>
      <div class="flickity-slider-img">
        <div class="carousel" data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
          <div class="carousel-cell" style="background-image:url(images/home-card-1-1.jpg)"></div>
          <div class="carousel-cell" style="background-image:url(images/home-card-1-2.jpg)"></div>
          <div class="carousel-cell" style="background-image:url(images/SuiteRoom/Suite2.jpg)"></div>
          <div class="carousel-cell" style="background-image:url(images/DeluxeRoom/Deluxe1.jpg)"></div>
          <div class="carousel-cell" style="background-image:url(images/SuiteRoom/Suite1.jpg)"></div>
        </div>
      </div>
    </div>
  {# end pview hotel #}
  {# start service #}
    <div class="service container">
      <div class="home-service container p-0">
        <div class="item-content text-center text-dark pt-5 pb-3 ">
          <h4>Service us</h4>
          <p>Guests can also enjoy the delicacy of many local street foods at Indy Night Market or Maharaj Pier to savor local<br/>specialties or go to the night walking street at the famous Khaosan road.<br/>Come and enjoy superior modem hotel at great connectivity with local touch.</p>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex">
          <div class="flip-card" tabIndex="0">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(images/home-card-1-1.jpg)"></div>
              <div class="flip-card-back" style="background-image:url(images/home-card-1-2.jpg)"></div>
            </div>
          </div>
        </div>
        <div class="col d-flex ">
          <div class="flip-card" tabIndex="0">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(images/home-card-1-1.jpg)"></div>
              <div class="flip-card-back" style="background-image:url(images/home-card-1-2.jpg)"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  {# end service #}
  <div class="bg-white" style="height:50px;" ></div>
  {# start footer #}
    <div class="home-footer">
      <div class="home-footer-content">
        <div class="map-content pt-5 bg-white pd-0 w-100">
          <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1904.7976390041158!2d104.11369536093842!3d17.286804531102877!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313c8fd8ffd1d801%3A0x876415f7aa427b31!2z4Lit4LmI4Liy4LiH4Liq4LiB4Lil4LiZ4LiE4Lij!5e0!3m2!1sth!2sth!4v1647927768684!5m2!1sth!2sth" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  {# end footer #}
  </section>

{# end warpper #}
{% endblock %}
