{% extends "layout/layout5.twig" %}
{% block title %}<title>ADMIN</title>{% endblock %}
{% block css %}
    {% webpack_entry_css 'layout/datatables' %}
    {% webpack_entry_css 'layout/layout' %}
{% endblock %}

{% block js %}
    {% webpack_entry_js 'layout/datatables' %}
{% endblock %}
{% block title_signin %}LOGIN{% endblock %}
{% block content %}
<section>

    <div class="login-page">
        <div class="pt-admin"><h1 class="text-center pt-lg-5 m-auto top-50">GG HOTEL LOGIN ADMIN</h1></div>
        <form class="form-signin bg-light top-50 position-absolute top-50 start-50 translate-middle" method="post" action="login">  
            <div class="form-label-group ">
                {# <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""> #}
                <label for="inputEmail">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required> 
            </div>

            <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
        </form>
    </div>
</section>

{% endblock %}