{% extends "layout/layout2.twig" %}

{% block css %}
    {% webpack_entry_css 'layout/datatables' %}
    {% webpack_entry_css 'layout/layout' %}
{% endblock %}

{% block js %}
    {% webpack_entry_js 'layout/datatables' %}
{% endblock %}

{% block content %}
    <div class="login-page">
        <form class="form-signin" method="post" action="login_user">  
        <img class="mb-4" src="images/Loginuser-page.jpg" alt="" width="300" height="225">      
        <div class="form-label-group">
            {# <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""> #}
            <input type="text" name="username" class="form-control" placeholder="Username" required> 
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        
        </form>
    </div> 
{% endblock %}
