{% extends login %}
{% block title %}<title>StandartRoom</title>{% endblock %}
{% block css %}
    {% webpack_entry_css 'layout/datatables' %}
    {% webpack_entry_css 'layout/layout' %}
{% endblock %}

{% block js %}
    {# {% webpack_entry_js 'layout/datatables' %} #}
{% endblock %}

{% block content %}
    <h1>STANDART</h1>
{% endblock %}
