.containerw3 {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	margin: -2.5px;
}
.containerw3:after {
	content: '';
	flex-grow: 999999999;
	min-width: 300px;
	height: 0;
}
.containerw3 > * {
	position: relative;
	display: block;
	height: 300px;
	margin: 2.5px;
	flex-grow: 1;
}
.containerw3 > * > img {
	height: 300px;
	object-fit: cover;
	max-width: 100%;
	min-width: 100%;
	vertical-align: bottom;
}
.containerw3.containerw3-margin {
	margin: 2.5px;
}