<!DOCTYPE html>
    <html>
        <head>

        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="images/nihon-seiki.jpg" type="image/x-icon">
        {% webpack_entry_css 'layout/layout' %}
		{% block css %}{% endblock %}

		{% webpack_entry_js 'layout/layout' %}
        </head>
        <body>
            <header class="p-3 bg-primary text-white">
                <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="#HOME" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <icon class="fa fa-hotel" xlink:href="#home"></icon>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#HOME" class="nav-link px-2 text-white">Home</a></li>
                        <li><a href="#Features" class="nav-link px-2 text-white">Features</a></li>
                        <li><a href="#Pricing" class="nav-link px-2 text-white">Pricing</a></li>
                        <li><a href="#FAQs" class="nav-link px-2 text-white">FAQs</a></li>
                        <li><a href="#About" class="nav-link px-2 text-white">About</a></li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                                    

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2">Login</button>
                        <button type="button" class="btn btn-warning">Sign-up</button>
                    </div>
                </div>
                </div>
            </header>
            {% block js %}{% endblock %}
            {% block content %}{% endblock %}
            <footer class="mt-auto sticky-footer bg-white ">
					<div class="container my-auto ">
						<div class="copyright text-center my-auto ">
							<span>Copyright &copy; GG Hotel </span>
						</div>
					</div>
			</footer>
        </body>
    </html>