/* login-sign-up */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/* start sutieRoom layout */

.backgound-img-first {
  margin: auto !important;
}
.backgound-img-first .backgound-img{
  min-height: 350px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.backgound-img-first h1{
  font-size: 60px;
	color: #ffffff;
  align-items: center;
  margin: auto;
  padding-top: 155px !important;
}
.suite-text-content {
  margin: 0;
}
.suite-text-content .col{
  font-size: 12px;
  text-align: center;
  display: inline;
  background-color: #F9F9F9F9;
}
.suite-text-content .col.lg{
  border-right: 1px solid #222;
  box-sizing: border-box;
}


/* end sutieRoom layout */
/* start superiorRoom */
.superiorRoom-slider .carousel-item{
  height: 350px;
  background-position: center;
  background-size: cover;
}
.superiorRoom-slider .carousel-item:before{
  content:"";
  position: absolute;
  Left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.superiorRoom-slider .carousel-item .container{
  position: absolute;
  height: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.superiorRoom-slider .carousel-item h2{
  font-size: 80px;
  color: #ffffff;
  margin:0 0 10px;
  opacity: 0;
  padding-top: 50px;
}
.superiorRoom-slider .carousel-item p{
  font-size: 30px;
  margin: 0;
  color: #eeeeee;
  opacity: 0;
}
.superiorRoom-slider .carousel-item.active h2{
  animation: fadeInLeft 0.5s ease forwards;
}
.superiorRoom-slider .carousel-item.active p{
  animation: fadeInRight 0.5s ease forwards;
}

.bg-gradient-bule{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
/* end superiorRoom */

/* flip card */
.flip-card-container {
  width: 300px;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  /* <=>  rotateY(.5turn) */
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border-radius: 0.5rem; */
}

.flip-card-front {
  background-color: #333;
  color: #fff;
}

.flip-card-back {
  background-color: #517fa4;
  color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  /* border-radius: 0.5rem; */
}

.flip-card-back p {
  text-align: center;
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.flip-card-back p span {
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  margin-top: 1.25rem;
}

/* end flip card*/
/*# sourceMappingURL=styles.css.map */